@charset "utf-8";

#calculateTable{
	table-layout:fixed;
	margin:20px auto 20px auto;
	border-collapse: collapse;
}
#calculateTable tr td{
	padding:5px;
	marign:5px;
	width:325px;
}
 .tdlft {
	text-align: right;
}
 .tdrgt {
	text-align: left;
}
