@charset "utf-8";

#calculateTable{
	table-layout:fixed;
	margin:10px auto 10px auto;
	border-collapse: collapse;
	border:solid 1px #3385FF;
}

#calculateTable tr td{
	padding:5px;
	marign:5px;
}
 .tdlft {
	text-align: right;
}
 .tdrgt {
	text-align: left;
	
}
.p1{
font-weight :bolder;
font-size:14px;
 text-indent:2em;
} 
.p2{
font-size:12px;
 text-indent:4em;

} 

.bs1{
width:15px;
border:solid 1px #3385FF;
}

.bs2{
border:solid 0px;
}
.bs3{
	border:solid 1px #3385FF;
}